 .navbar {
     background-color: #557788;
 }
 
 .quem-somos {
     padding: 10px;
     background-color: hsl(254, 14%, 82%);
 }
 
 .margin {
     margin-top: 5px;
     padding-top: 10px;
     padding-bottom: 40px;
 }
 
 .texto-p {
     color: black;
     font-style: normal;
     font-size: 16px;
     font-family: 'Times New Roman', Times, serif;
 }
 
 .parceiros {
     background-color: #b5dbee;
 }
 
 .servicos {
     background-color: cornflowerblue;
 }
 
 .bg-footer {
     background-color: black;
     color: white;
     font-size: 10px;
     font-style: italic;
 }